.about-page{
    display:flex;
    align-items:center;
    justify-content:center;
    padding:100px;
    background: #f9fbff;
}

.about-left img{
    width:650px;
    border-radius:12px;
    display: block;
}

.about-right{
    flex: 1;
    padding-left:70px;
    max-width:40%;
}

.about-right p{
    font-size:16px;
    line-height:1.6;
    color: #555;
}

.about-right h1{
    font-size:36px;
    font-weight:700;
    margin-bottom:20px;
    color: #111;
}
