.contact-section {
    text-align: center;
    padding: 80px 8%;
}

.contact-grid {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}

.contact-box {
    background: white;
    padding: 40px;
    width: 250px;
    border-radius: 8px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}
/* .contact-box h3 {
    margin-bottom: 15px;
} */