.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 8%;
}

.hero-text {
    max-width: 500px;
}

.hero-text h1 {
    font-size: 45px;
    margin-bottom: 15px;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 20px;
}

.hero-btn {
    background: #4b5bdc;
    color: white;
    padding: 12px 20px;
    border-radius: 6px;
    text-decoration: none;
}

.hero-img img {
    width: 850px;
}
