{% extends "base.html" %}
{% block title %}Contact{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
{% endblock %}

{% block content %}

<section class="contact-section">

    <div class="contact-container">

        <div class="contact-info">
            <h1>Let’s Connect</h1>
            <p>
                If you’re interested in discussing this project, data analytics,
                or collaboration opportunities, feel free to reach out.
            </p>

            <div class="contact-details">
                <div class="contact-item">
                    <h3>Email</h3>
                    <a href="mailto:heartanalysis@gmail.com">heartanalysis@gmail.com</a>
                </div>

                <div class="contact-item">
                    <h3>LinkedIn</h3>
                    <a href="https://www.linkedin.com/in/saqibkhan1691/" target="_blank">https://www.linkedin.com/</a>
                </div>

                <div class="contact-item">
                    <h3>GitHub</h3>
                    <a href="https://github.com/saqibkhan1691" target="_blank">https://github.com/</a>
                </div>
            </div>
        </div>

        <div class="contact-form">
            <h2>Send a Message</h2>

            <form>
                <input type="text" placeholder="Your Name" required>
                <input type="email" placeholder="Your Email" required>
                <textarea rows="5" placeholder="Your Message" required></textarea>
                <button type="submit">Send Message</button>
            </form>

        </div>

    </div>

</section>

{% endblock %}